*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body{
    display: grid;
    grid-template-columns:auto 1fr;
    min-height: 100vh;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #fff0f9;
}

.contenedor{
    display: grid;
    grid-template-columns: auto 1fr;
    
    margin: 50px;
    justify-content: center;
}
nav
.fila1{
    display:block;
    max-width: 30%;
    background-color:#ccccff; 
    padding:5px;
}
.fila2{
    display: block;
    max-width: 70%;
    padding: 20px;
    background:linear-gradient(to left, #cf99ff,#ffffff);
}
.contenedor aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20px;
}
.foto{
    max-width: 200px;
    margin-top: 60px;
    border-radius: 100%;
    border: solid 5px #E0E0E0;
    display: inline-block;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    animation: mover 2s;
}
.informacion img{
    width: 40px;
    border-radius: 40%;
    vertical-align: middle;
}
h1{ 
    color: #02023a;
    font-family: "Miligant",sans-serif;
    font-size: 3rem;
    text-align: center;
}
h2{
    font-family: "Miligant",sans-serif;
    font-size: 1.5rem;
    margin: 10px;
    text-align: center;
    border:1px solid #000 ;
    padding-top: 5px;
    border-radius: 15px;
    
}
h3{
    font-family: "Miligant",sans-serif;
    font-size: 2.5rem;
    color: #02023a;
    text-align: center;
    border-top:1px solid #000;
    padding-top: 15px;
    margin: 30px;
}
ul{
    text-align: justify;
    margin:0 100px;
}
p{
    text-align: justify;
    margin:0 100px;
}
.barra{
    margin: 10px 0;
    background-color: #fff;
    width: 100%;
    height: 20px;
}
.porcentaje{
    background-color: #cf99ff;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-direction: row;
}
.contacto p{
    margin: 0 2px;
    font-size: 13px;
}
aside h3{
    font-size: 2rem;
}
.perfil,.estudio,.trabajo,.tecnicas,.blandas,.telefono,.correo,.fila1{
    font-family: "caviar dreams";
}
.contenido h3{
    background-color: #000;
    border-radius: 100px;
}
.informacion,.redes{
    text-align: center;
}
.informacion p{
    font-family: "caviar dreams";
    text-align: center;
    line-height:1.2;
}
.redes p{
    font-family: "caviar dreams";
    text-align: center;
}
.perfil p{
    text-align: justify;
}
.estudio ul{
    text-align: justify;
}
.trabajo ul{
    text-align: justify;
}
.tecnicas ul {
    text-align: justify;
    margin: 0 200px;
}
.contacto {
    width: 100%;
    padding: 10px;
    text-align: left;
}
.contacto p{
    text-align: center;
}
.correo [href]:hover{
    color: #cf19ff;
    font-size: 15px;
}
.enlace [href]:hover{
    color:#cf19ff;
    font-size: 20px;
}
