body,:root{
    text-align: center;
    height: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}
.contenedor{
    display: flex;
    width: 100%;
}
.fila1{
    display:block;
    width: 50%;
    background-color:#ccccff; 
    padding:5px;
    border: 2px solid #310931;
    border-right: 2px solid #ffffff;
}
.fila2{
    display: block;
    width: 50%;
    padding: 20px;
    height: 50%;
    background:linear-gradient(to left, #cf99ff,#ffffff);
}
.contenedor aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20px;
}
.foto{
    width: 200px;
    margin-top: 60px;
    border-radius: 100%;
    border: solid 5px #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.informacion img{
    width: 40px;
    border-radius: 40%;
    vertical-align: middle;
}
@font-face{
    font-family: "Miligant";
    src: url("../fonts/The\ Heart\ of\ Everything\ Demo.ttf");
}
@font-face{
    font-family: "caviar dreams";
    src: url("../fonts/CaviarDreams.ttf");
}
h1{ 
    color: #02023a;
    font-family: "Miligant",sans-serif;
    font-size: 3rem;
    text-align: center;
}
h2{
    font-family: "Miligant",sans-serif;
    font-size: 1.5rem;
    margin: 10px;
    text-align: center;
    border:1px solid #000 ;
    border-radius: 15px;
    
}
h3{
    font-family: "Miligant",sans-serif;
    font-size: 2.5rem;
    color: #02023a;
    text-align: center;
    border-top:1px solid #000
}
aside h3{
    font-size: 2rem;
}
.perfil,.estudio,.trabajo,.tecnicas,.blandas,.telefono,.correo,.fila1{
    font-family: "caviar dreams";
}
.contenido h3{
    background-color: #000;
    border-radius: 100px;
}
.informacion,.redes{
    text-align: center;
}
.informacion p{
    font-family: "caviar dreams";
    text-align: center;
    line-height:1.2;
}
.redes p{
    font-family: "caviar dreams";
    text-align: center;
}
.perfil p{
    text-align: justify;
}
.estudio ul{
    text-align: justify;
}
.trabajo ul{
    text-align: justify;
}
.tecnicas ul{
    text-align: justify;
}
.contacto {
    width: 100%;
    padding: 10px;
    text-align: left;
}
.correo [href]{
    color: #cf19ff;
}
.enlace [href]{
    color:#cf19ff;
}